<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-12" id="khung-anh">
        <a href="" [routerLink]="['/home']">
          <img src="../../../assets/images/Logo.svg" alt="" />
        </a>
      </div>
      <div class="col-md-3 col-sm-12">
        <ul class="text-footer">
          <li class="nliv-item">
            <div class="container-fluid">
              <span class="h5">Our Services</span>
            </div>
          </li>
          <li>Mobile Development</li>
          <li>Web App Development</li>
          <li>Theme Development</li>
          <li>SEO</li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-12">
        <ul class="text-footer">
          <li class="nav-item">
            <div class="container-fluid">
              <span class="h5">About Us</span>
            </div>
          </li>
          <li>GT Web Design</li>
          <li>Terms & Conditions</li>
          <li>Privacy Policy</li>
          <li>Contact</li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-12">
        <ul class="text-footer">
          <li class="nav-item">
            <div class="container-fluid">
              <span class="h5">Get Social</span>
            </div>
          </li>
          <br />
          <li>
            <img src="../../../assets/images/Facebook Icon.png" alt="" />
            <img src="../../../assets/images/Instagram Icon.png" alt="" />
            <img src="../../../assets/images/Twitter Icon.png" alt="" />
          </li>
          <br />
          <li>{{ "info@gtcoding.net" }}</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-12"></div>

      <div class="col-9 col-sm-12">
        <ul>
          <li>This website was designed by Godson T</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
