<section>
  <div class="anh-bia">
    <div class="container noi-dung-bia">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6 col-6" id="anh1">
              <img src="../../../assets/images/Polygon 1.png" alt="" />
            </div>
            <div class="col-md-6 col-6" id="anh2">
              <img src="../../../assets/images/Polygon 2.png" alt="" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10" [style.text-align]="'start'">
              <div style="font-size: 20px">Wecome to</div>
              <div>
                <a
                  style="
                    color: #d80032;
                    font-family: Montserrat;
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;
                  "
                  >GT</a
                >
                <a
                  style="
                    color: #2b2d42;
                    font-family: Montserrat;
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;
                  "
                >
                  Web Design</a
                >
              </div>
              <div class="row">
                <div class="col-md-3 col-6">
                  <button
                    type="button"
                    class="btn btn-danger"
                    style="
                      background-color: red !important;
                      color: white !important;
                    "
                  >
                    Get Started
                  </button>
                </div>
                <div class="col-md-3 col-6" [style.text-align]="'start'">
                  <button type="button" class="btn">Learn More</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 khung-anh-2">
          <img
            src="../../../assets/images/undraw_mobile_feed_73bd 1.png"
            alt=""
            alige="right"
          />
        </div>
      </div>
    </div>
    <img class="anh-vien" src="../../../assets/images/Rectangle 9.png" alt="" />
  </div>
</section>
<section>
  <div
    class="container"
    style="
      border: 1px solid;
      border-radius: 20px;
      border-color: gainsboro !important;
    "
  >
    <h3>Our Clie<span class="gach-chan">nts</span></h3>
    <div class="row khung-anh" [style.text-align]="'center'">
      <div class="col-md-3 col-4">
        <img src="../../../assets/images/Rectangle-1.png" alt="" />
      </div>
      <div class="col-md-3 col-4">
        <img src="../../../assets/images/Rectangle-2.png" alt="" />
      </div>
      <div class="col-md-2 col-4">
        <img src="../../../assets/images/Rectangle-3.png" alt="" />
      </div>
      <div class="col-md-2 col-6">
        <img src="../../../assets/images/Rectangle-4.png" alt="" />
      </div>
      <div class="col-md-2 col-6">
        <img src="../../../assets/images/Rectangle.png" alt="" />
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container" id="about">
    <h3>About <span class="gach-chan">Us</span></h3>
    <div class="row">
      <div class="col-md-7 col-sm-12">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut malesuada
        pharetra ut feugiat quisque odio nulla leo. Facilisis rhoncus gravida
        integer risus, ac vulputate a. Elementum fermentum feugiat nunc cras ac
        orci, amet sapien. Ut quis est, pellentesque in et ipsum. Enim eget
        faucibus eget enim leo nisl lorem feugiat feugiat. Pellentesque duis id
        vel tellus in nisi, enim tellus id. Sit dignissim dictum sit integer
        tortor porttitor erat risus libero. Netus pulvinar vivamus nec, nec
        morbi.
        <br />
        <br />
      </div>

      <div class="col-md-5 col-sm-12 khung-anh">
        <img src="../../../assets/images/Ellipse 2.png" alt="" />
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container" id="our-Projects">
    <h3>Our Proje<span class="gach-chan">cts</span></h3>
    <div class="row">
      <div class="col-md-4 col-12 khung-anh">
        <img src="../../../assets/images/Rectangle 17.png" alt="" />
      </div>
      <div class="col-md-4 col-12 khung-anh">
        <img src="../../../assets/images/Rectangle 16.png" alt="" />
      </div>
      <div class="col-md-4 khung-anh-2">
        <img src="../../../assets/images/Rectangle 15.png" alt="" />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-4 col-12 khung-anh">
        <img src="../../../assets/images/Rectangle 20.png" alt="" />
      </div>
      <div class="col-md-4 col-12 khung-anh">
        <img src="../../../assets/images/Rectangle 19.png" alt="" />
      </div>
      <div class="col-md-4 khung-anh-2">
        <img src="../../../assets/images/Rectangle 18.png" alt="" />
      </div>
    </div>
    <br />
    <button type="submit" class="btn">View all</button>
  </div>
</section>
<section>
  <div class="container" id="testiomnials">
    <h3>Testiomni<span class="gach-chan">als</span></h3>

    <div id="carouselExample" class="carousel slide slideshow">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row anh">
            <div class="col-2"></div>
            <div class="col-md-5 col-sm-12">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
              malesuada pharetra ut feugiat quisque odio nulla leo. Facilisis
              rhoncus gravida integer risus, ac vulputate a. Elementum fermentum
              feugiat nunc cras ac orci, amet sapien.
              <br />
              <br />
              <p>Darlene Richards, Amazon</p>
            </div>
            <div class="col-md-5 col-sm-12 khung-anh" id="Testiomni">
              <img src="../../../assets/images/Rectangle 23.png" alt="" />
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-2"></div>
            <div class="col-md-5 col-sm-12">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
              malesuada pharetra ut feugiat quisque odio nulla leo. Facilisis
              rhoncus gravida integer risus, ac vulputate a. Elementum fermentum
              feugiat nunc cras ac orci, amet sapien.
              <br />
              <br />
              <p>Tara Green, Ferrari</p>
            </div>
            <div class="col-md-5 col-sm-12 khung-anh" id="Testiomni">
              <img src="../../../assets/images/Rectangle 24.png" alt="" />
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-2"></div>
            <div class="col-md-5 col-sm-12">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
              malesuada pharetra ut feugiat quisque odio nulla leo. Facilisis
              rhoncus gravida integer risus, ac vulputate a. Elementum fermentum
              feugiat nunc cras ac orci, amet sapien.
              <br />
              <br />
              <p>Peter Williams, Louis Vuitton</p>
            </div>
            <div class="col-md-5 col-sm-12 khung-anh" id="Testiomni">
              <img src="../../../assets/images/Rectangle 23-1.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="prev"
        style="width: 0px; height: 0px"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"
          ><img src="../../../assets/images/mdi_chevron_left.svg" alt=""
        /></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next next-button"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="next"
        style="height: 0px"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"
          ><img src="../../../assets/images/mdi_chevron_left-1.svg" alt=""
        /></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
<section>
  <div class="container" id="contact">
    <h3>Contact <span class="gach-chan">Us</span></h3>
    <form action="">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="mb-3">
            <input
              type="name"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Name"
              style="border-radius: 20px"
            />
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="mb-3">
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput"
              placeholder="Email"
              style="border-radius: 20px"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="mb-3">
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
            placeholder="Your Message"
            style="border-radius: 20px"
          ></textarea>
        </div>
      </div>
      <button type="submit" class="btn">Send Message</button>
    </form>
  </div>
</section>
